<h1>QUESTIONS!</h1>

<% @questions.each do |question| %>
<h3><a href="<%= question.id %>"><%= question.question_name %></a></h3>
<h6> by ID:<%= question.user_id %></h6>
<p><%= question.description %></p>
<% end %>
